/* Write your code here. */
.Emoji-game-bg {
  background-image: linear-gradient(#9796f0, #fbc7d4);
  min-height: 100vh;
}
.unordered-list {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}
.bg-container {
  background-color: #ffffff33;
  justify-content: center;
  align-items: center;
}
